@import '../../../assets/css/colors';

.ad-color-select {
    display: flex;

    .cs-item {
        border-radius: 5px;
        cursor: pointer;
        height: 20px;
        margin: 5px;
        width: 20px;
        transition: .15s;

        &:first-child {
            margin-left: 0;
        }

        &:hover {
            box-shadow: rgba($color-black, .2) 0 2px 4px;
            transform: translateY(-3px) scale(1.1);
        }
    }

    .csi-selected-icon {
        align-items: center;
        color: $color-white;
        display: flex;
        font-size: 14px;
        height: 100%;
        justify-content: center;
        width: 100%;
    }
}