<div class="ad-color-select">
    <div 
        class="cs-item" 
        *ngFor="let color of colors"
        [ngStyle]="{ 'background-color': color }"
        (click)="setColor(color)">
        <i *ngIf="isColorSelected(color)" class="material-icons csi-selected-icon">check</i>
    </div>
</div>