<div class="ad-select" (keyup.esc)="close()">
    <button 
        class="ads-button" 
        type="button" 
        (click)="open()"
        [ngStyle]="setItemStyle(selected)">
        {{ selected || 'Selecione' }}
        <i class="material-icons ads-button-icon">keyboard_arrow_down</i>
    </button>

    <div class="ads-content" *ngIf="showList">
        <i class="material-icons ads-close" (click)="close()">close</i>

        <div class="ads-search">
            <input 
                class="adss-input" 
                type="text" 
                placeholder="Buscar"
                autofocus
                #search
                [(ngModel)]="searchText">
        </div>

        <ul class="ads-list">
            <li 
                class="adsl-item" 
                *ngFor="let item of itemsFiltered"
                (click)="select(item)"
                [ngStyle]="setItemStyle(item)">
                {{ item }}
            </li>
        </ul>
    </div>
</div>
