@import '../../../assets/css/colors';

.ad-select {
    position: relative;

    .ads-button {
        background-color: $color-white;
        border: 1px solid $color-grey-200;
        border-radius: 4px;
        color: $color-grey-500;
        cursor: pointer;
        height: 40px;
        padding: 8px;
        text-align: left;
        width: 100%;

        &:hover {
            background-color: $color-grey-100;
        }

        .ads-button-icon {
            align-items: center;
            display: flex;
            font-size: 18px;
            height: 100%;
            justify-content: center;
            padding: 8px;
            position: absolute;
            right: 0;
            top: 0;
            width: 35px;
        }
    }

    .ads-content {
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: rgba($color-black, 0.1) 0 3px 10px;
        position: absolute;
        top: -10px;
        width: 100%;
        z-index: 10;
    }

    .ads-close {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-size: 18px;
        height: 35px;
        justify-content: center;
        padding: 8px;
        position: absolute;
        right: 0;
        top: 0;
        width: 35px;
    }

    .ads-search {
        border-bottom: 1px solid $color-grey-200;
        padding: 8px 16px;
        
        .adss-input {
            border: none;
            height: 40px;
            width: 100%;
        }
    }

    .ads-list {
        max-height: 250px;
        overflow-y: scroll;

        .adsl-item {
            align-items: center;
            cursor: pointer;
            display: flex;
            padding: 12px 16px;
            width: 100%;

            &:hover {
                background-color: $color-grey-100;
            }
        }

    }
}