html {
    font-size: 14px;
}

body {
    color: $color-grey-400;
    line-height: 1.5;
    margin: 0px;
}

* {
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

a { 
    text-decoration: none; 
    cursor: pointer;
}
a, p, span {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

img {
    display: block;
}

.image-fill {
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}