$color-white: #ffffff;
$color-black: #000000;

$color-grey-100: #f5f5f5;
$color-grey-200: #e6e6e6;
$color-grey-300: #b4b4b4;
$color-grey-400: #787878;
$color-grey-500: #5a5a5a;
$color-grey-600: #323232;
$color-grey-700: #1e1e1e;

$color-yellow: #ffaa00;
$color-red: #eb4164;
$color-purple: #9378FF;
$color-blue: #45BCFF;
$color-green: #14aa5a;