<div class="angular-dogs">
    <header class="ad-header">
        <h1>{{ title }}</h1>
    </header>

    <div class="ad-content">

        <div class="ad-register">
            <form autocomplete="off" class="ad-card ad-card-add">
                <h2 class="ad-subtitile">Adicionar Cachorro</h2>
    
                <div class="ad-form-item">
                    <label class="ad-label" for="name">Nome</label>
                    <input 
                        class="ad-input" 
                        type="text" 
                        id="name" 
                        name="name"
                        placeholder="Nome do cachorro"
                        [(ngModel)]="dog.name">
                </div>
    
                <div class="ad-form-item">
                    <label class="ad-label">Raça</label>
                    <app-ad-select
                        [selected]="dog.breed"
                        [items]="breeds"
                        (output)="setBreed($event)">
                    </app-ad-select>
                </div>
    
                <div class="ad-form-item">
                    <label class="ad-label">Font</label>
                    <app-ad-select
                        [selected]="dog.font"
                        [styled]="true"
                        [items]="fonts"
                        (output)="dog.font = $event">
                    </app-ad-select>
                </div>
    
                <div class="ad-form-item">
                    <label class="ad-label">Cor do texto</label>
                    <app-ad-color-select 
                        [selected]="dog.color"
                        (output)="dog.color = $event">
                    </app-ad-color-select>
                </div>

                <button class="ad-button" (click)=saveDog()>Salvar</button>
            </form>
            
            <div class="ad-card ad-card-preview">
                <h2 class="ad-subtitile">Preview</h2>

                <div class="ad-cp-container">
                    <i 
                        class="material-icons ad-cp-refresh" 
                        *ngIf="!!dog.breed && !!dog.image"
                        (click)=setImage()>
                        refresh
                    </i>
                    <div class="ad-image-dog" [ngStyle]="getImage(dog)">
                        <span 
                            class="ad-id-title" 
                            *ngIf="!!dog.name"
                            [ngStyle]=dogStyle(dog)>
                            {{ dog.name }}
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="ad-dogs" *ngIf="dogs.length">
            <h2>Cachorros adicionados</h2>

            <div class="ad-dogs-list">
                <div class="ad-dl-container" *ngFor="let dog of dogs" [title]="dogTitle(dog)">
                    <div class="ad-image-dog" [ngStyle]="getImage(dog)">
                        <span class="ad-id-title" [ngStyle]=dogStyle(dog)>{{ dog.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <button 
            class="ad-remove-dogs" 
            type="button" 
            (click)="removeAllDogs()"
            *ngIf="dogs.length">
            Remover todos
        </button>
    </div>
</div>