@import '../assets/css/colors';

.angular-dogs {
    .ad-header {
        background-image: linear-gradient(to right, $color-blue, $color-purple);
        color: $color-white;
        height: 270px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: -1;
    }
    
    .ad-content {
        margin: 90px auto 30px;
        max-width: 1000px;
        padding: 0 40px;
    }

    .ad-card {
        background-color: $color-white;
        border-radius: 10px;
        box-shadow: rgba($color-black, 0.1) 0 3px 10px;
        flex: 1;
        padding: 16px;
    }

    .ad-form-item {
        margin: 16px 0;
    }

    .ad-input {
        border: 1px solid $color-grey-200;
        border-radius: 4px;
        padding: 8px;
        height: 40px;
        width: 100%;
    }

    .ad-label {
        display: block;
        font-size: 12px;
    }

    .ad-button {
        background-image: linear-gradient(to right, $color-blue 0, $color-purple 50%, $color-blue 100%);
        background-size: 200% auto;
        border: none;
        border-radius: 4px;
        color: $color-white;
        cursor: pointer;
        display: block;
        height: 40px;
        transition: .5s;
        width: 100%;

        &:hover {
            background-position: right center;
        }
    }

    .ad-register {
        display: flex;
        justify-content: stretch;

        .ad-card-add {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            z-index: 1;
        }

        .ad-card-preview {
            background-color: $color-grey-100;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            .ad-cp-container {
                height: 80%;
                margin: 20px auto;
                width: 80%;
                position: relative;
            }

            .ad-cp-refresh {
                align-items: center;
                color: $color-white;
                cursor: pointer;
                display: flex;
                font-size: 18px;
                height: 35px;
                justify-content: center;
                padding: 8px;
                position: absolute;
                right: 0;
                text-shadow: rgba($color-black, .2) 0 2px 2px;
                top: 0;
                width: 35px;
                z-index: 2;
            }
        }
    }

    .ad-image-dog {
        background-color: $color-grey-200;
        background-repeat: no-repeat;
        border-radius: 7px;
        height: 100%;
        position: relative;
        overflow: hidden;
        width: 100%;
        background-position: center;
        height: 100%;
        width: 100%;

        .ad-id-title {
            background-color: rgba($color-white, .85);
            bottom: 0;
            padding: 16px;
            position: absolute;
            text-align: center;
            width: 100%;
            z-index: 1;
        }
    }

    .ad-dogs {
        position: relative;
        margin-top: 20px;
    }

    .ad-dogs-list {
        display: flex;
        flex-wrap: wrap;

        .ad-dl-container {
            height: 200px;
            padding: 10px;
            width: 20%;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .ad-remove-dogs {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $color-red;
        display: block;
        font-size: 12px;
        text-align: center;
        margin: 40px auto 20px;
    }

    .ad-subtitile {
        color: $color-grey-600;
        text-transform: uppercase;
        text-align: center;
    }
}